<!DOCTYPE html>
<html>


  <!-- FE연동 부분 -->
  <h1>영상</h1>
  <form method="post" action="/user/sendTrainer" enctype="multipart/form-data"><br/>
  <label><input type="radio" name="type" value="Squat">Squat</label>
  <label><input type="radio" name="type" value="Lunge">Lunge</label>
  <label><input type="radio" name="type" value="Pushup">Pushup</label><br/>
    <textarea name="career" id="career" cols="30" rows="10"></textarea>
    <input type="file" name="video">
    <input type="submit" value="업로드">
  </form>




</body>

</html>